@page
@model IndexModel

@{
    ViewData["Title"] = "AdminIndex";
}

<h1 class="page-header">Administrators</h1>

<form>
    <button asp-page="Create" type="submit" class="standard-button standard-button-color">Add new Admin</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Admin[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin[0].LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Admin) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <a asp-page="./AdminEdit" asp-route-id="@item.AdminId">Edit</a> |
                    <a asp-page="./AdminDetails" asp-route-id="@item.AdminId">Details</a> |
                    <a asp-page="./AdminDelete" asp-route-id="@item.AdminId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
