@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Car management</h1>

<h4>Handle our cars below.</h4>


<div>
    <a asp-page="../AdminLoggedIn" class="link-button">Go back</a>
</div>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Seats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Car) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="@item.Image" style="max-width:200px"/>
                @* @Html.DisplayFor(modelItem => item.Image) *@
            </td>
            <td>
                    <a asp-page="./CarEdit" class="link-button" asp-route-id="@item.CarId">Edit</a> |
                    <a asp-page="./CarDetails" class="link-button" asp-route-id="@item.CarId">Details</a> |
                    <a asp-page="./CarDelete" class="link-button" asp-route-id="@item.CarId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
