@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Our cars</h1>

<h4>Browse our selection of fancy cars below.</h4>


   
  @*   <div class="top-of-table-buttons">
    <form>
        <button asp-page="Create" type="submit" class="standard-button function-button-color">Create car</button>
    </form>
    <form>
        <button asp-page="../Bookings/Login" type="submit" class="standard-button standard-button-color">Book car</button>
    </form>
</div> *@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Seats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Car) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="@item.Image" style="max-width:200px"/>
                @* @Html.DisplayFor(modelItem => item.Image) *@
            </td>
            <td>
                <a asp-page="../../Bookings/CustomerLogin" asp-route-id="@item.CarId">Book car</a> 
            @*     <a asp-page="./Details" asp-route-id="@item.CarId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CarId">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
