@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Our cars</h1>

<h4>Browse our selection of fancy cars below.</h4>

@{
    var customer = HttpContext.Request.Cookies["User"];
    var admin = HttpContext.Request.Cookies["Admin"];
}
   
 
<table class="car-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Seats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var car in Model.Car) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => car.CarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => car.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => car.Price)
            </td>
            <td>
                <img src="@car.Image" style="max-width:200px"/>
                
            </td>


            <td>
                    @{
                        if (customer == null && admin == null)
                        {
                            <a asp-page="/Bookings/CustomerLogin" asp-route-id="@car.CarId">Book car</a>
                        }
                        else
                        {
                            <a asp-page="/Bookings/BookingCreate" asp-route-id="@car.CarId">Book car</a>
                        }
                    }
                
           
            </td>
        </tr>
}
    </tbody>
</table>
