@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Our cars</h1>

<h4>Browse our selection of fancy cars below.</h4>


   
 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Seats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Car) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="@item.Image" style="max-width:200px"/>
                @* @Html.DisplayFor(modelItem => item.Image) *@
            </td>
            <td>
                <a asp-page="/Bookings/CustomerLogin" asp-route-id="@item.CarId">Book car</a> 
           
            </td>
        </tr>
}
    </tbody>
</table>
