@page
@model FribergCarsRazor.Pages.Bookings.BookingConfirmedModel

@{
    ViewData["Title"] = "BookingConfirmed";
}

<h1>Booking details for @Html.DisplayFor(model => model.Booking.Customer.FirstName)</h1>

<div class="content-box">
    <hr />
    <dl class="row">
        <div class="user-details">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.BookingId):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.BookingId)
        </dd>
        </div>

        <div class="user-details">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Customer.FirstName):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Customer.FirstName)
        </dd>
        </div>

        <div class="user-details">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Customer.LastName):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Customer.LastName)
        </dd>
        </div>
     
        <div class="user-details">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Car.CarName):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Car.CarName)
        </dd>
        </div>
    
        <div class="user-details">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.StartDate):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.StartDate)
        </dd>
        </div>
       
        <div class="user-details">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.EndDate):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.EndDate)
        </dd>
        </div>


    </dl>


    <a asp-page="./CustomerLoggedIn" class="link-button" asp-page-handler="AfterBooking" asp-route-id="@Model.Booking.Customer.CustomerId">Return to my page</a>

</div>


