@page
@model FribergCarsRazor.Pages.Bookings.BookingConfirmedModel

@{
    ViewData["Title"] = "BookingConfirmed";
}

<h1>Booking details for @Html.DisplayFor(model => model.Booking.Customer.FirstName)</h1>

<div class="content-box">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.BookingId)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Booking.BookingId)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Customer.FirstName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Booking.Customer.FirstName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Customer.LastName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Booking.Customer.LastName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Car.CarName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Booking.Car.CarName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.StartDate)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Booking.StartDate)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.EndDate)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Booking.EndDate)
        </dt>


    </dl>


    <a asp-page="./CustomerLoggedIn" asp-page-handler="AfterBooking" asp-route-id="@Model.Booking.Customer.CustomerId">Return to my page</a>

</div>


