@page
@model FribergCarsRazor.Pages.Bookings.BookingConfirmedModel

@{
    ViewData["Title"] = "BookingConfirmed";
}

<h1>Booking details for @Html.DisplayFor(model => model.Booking.Customer.FirstName)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.BookingId)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Booking.BookingId)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Customer.FirstName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Booking.Customer.FirstName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Customer.LastName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Booking.Customer.LastName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Car.CarName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Booking.Car.CarName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.StartDate)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Booking.StartDate)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.EndDate)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Booking.EndDate)
        </dt>


    </dl>




</div>


@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Customer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Customer.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Car.CarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.CarName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BookingId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
