@page
@model FribergCarsRazor.Pages.Bookings.CustomerLoggedInModel

@{
    ViewData["Title"] = "CustomerLoggedIn";
}

<h1>Welcome, @Html.DisplayFor(model=>model.Customer.FirstName)</h1>

<div class="content-box">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.Customer.FirstName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Customer.LastName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Customer.Email)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Password)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Customer.Password)
        </dt>








    </dl>




</div>



                <a asp-page="./Create" asp-route-id="@Model.Customer?.CustomerId">Book car</a> |
                <a asp-page="./Index" asp-route-id="@Model.Customer?.CustomerId">List bookings</a> |
               
             </td>
        </tr>
}
    </tbody>
</table>
