@page
@model FribergCarsRazor.Pages.Bookings.PickCarModel 



@{
    ViewData["Title"] = "PickCar";
}

<h1>Pick Car</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Seats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Car) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    <img src="@item.Image" style="max-width:200px" />
            </td>
            <td>
                    <a asp-page="./ConfirmBooking" asp-route-id="@item.CarId" >Book this car</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
