@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <div class="content-box">
    <dl>
        <div class="user-details">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.FirstName):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>
        </div>
       
        <div class="user-details">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>
        </div>
      
        <div class="user-details">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        </div>
    
        <div class="user-details">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Password)
        </dd>
        </div>
    </dl>
</div>
</div>
<div>
    <a asp-page="./CustomerEdit" class="link-button" asp-route-id="@Model.Customer.CustomerId">Edit</a> |
    <a asp-page="./CustomerIndex" class="link-button">Back to List</a>
</div>
