@page
@model FribergCarsRazor.Pages.Admins.AdminLoggedInModel

@{
    ViewData["Title"] = "AdminLoggedIn";
}

<h1>Admin tools</h1>

<div>Links

    <a asp-page="./CustomerControl/CustomerIndex" class="link-button">Customers</a>
    <a asp-page="./CarControl/CarIndex" class="link-button">Cars</a>
    <a asp-page="./BookingControl/CustomerBookingIndex" class="link-button">Bookings</a>



</div>

<div class="content-box">
    <h4>Your info</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./AdminControl/AdminEdit" class="link-button">Edit</a> |
    <a asp-page="./AdminControl/AdminIndex" class="link-button">Back to List</a>
</div>
